*.[oa]
*~
*log
*bk*
.css
ARCHIVE/
.settings
.settings/
.DS_Store
target
.project
.classpath
.DS_Store
.idea/
*.iml
bin/
vendor/
release/
release.sh
*field*.txt
*.txt
DEADJOE
NR5103EV3_1.00 4.40.pdf
all-settings*
elktail
elktail.exe
